/* 課題サイト */
/* https://code-jump.com/blog-layout/ */
/* 所要時間：6時間（レスポンシブ未対応） */

@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  color: #3b3b3b;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, p, a, img {
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3b3b3b;
  cursor: pointer;
}

img {
  max-width: 1200px;
  object-fit: cover;
  overflow: hidden
}

/* ヘッダー */

.logo-area {
  position: fixed;
  height: 70px;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.logo-img {
  width: 1168px;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 3px;
  left: auto;
  right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.menu-area {
  width: 100%;
  background-color: #3b3b3b;
  height: 39px;
  position: fixed;
  top: 70px;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.menu-area ul {
  width: 1168px;
  max-width: 1168px;
  height: 39px;
  margin-top: 0;
  margin-bottom: 0;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.menu-area li { 
  padding: 10px 60px 10px 0px;
}

.menu-area ul li a{
  color: #fff;
}

/* メイン */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
}

.main-area {
  width: 1200px;
  max-width: 1200px;
  margin-bottom: 60px;
}

/* ピックアップ */

.pickup-area {
  width: 1168px;
  max-width: 1168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 150px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 60px;
  gap: 40px;
}

.pickup-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pickup-area img {
  max-width: 100%;
  height: auto;
}

.pickup-area h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.read-more-btn {
  width: fit-content;
  padding-bottom: 1px;
  /* border-bottom: 1px solid #777; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  z-index: 0;
}

.read-more-btn::after {
  position: absolute;       /* リンク要素に対して絶対位置で配置 */
  content: '';              /* 疑似要素の内容を空にして下線のみを表示 */  
  bottom: 0px;             /* リンクテキストの下部から0px下に下線を配置 */
  left: 0;                  /* 左端から配置を始める */
  width: 100%;              /* 下線の幅をリンク要素の幅と同じにする */
  height: 1px;              /* 下線の高さを1pxに設定 */
  background: #000;         /* 下線の色を黒に設定 */
  transition: transform 0.2s ease, opacity 0.2s ease; /* 変形と透明度の変化を0.2秒で滑らかに */
  transform: translateY(0); /* 下線の垂直方向の移動量を0に設定（初期位置） */
  opacity: 1;               /* 下線の透明度を1に設定（完全に不透明） */
}

.read-more-btn:hover::after {
  transform: translateY(3px); /* ホバー時に下線を5px下に移動させる */
  opacity: 0;                 /* ホバー時に下線を透明にすることで徐々に消えるように見せる */
}

/* メインエリア */
#container {
width: 1168px;
padding-left: 16px;
padding-right: 16px;
}

/* メインコンテンツ */

.main-content {
  float: left;
  width: 66.6666666%;
}

.main-content-main {
  padding-right: 20px;
}

.article h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 24px;
}

.date-and-category {
  margin-bottom: 10px;
}

.date-and-category a {
    width: fit-content;
    /* padding-bottom: 1px; */
    border-bottom: 1px solid #777;
}

.date-and-category a:first-child {
  display: inline-block;
  margin-right: 15px;
}

.main-content img {
  max-width: 100%;
}

.article p {
  display: block;
  padding: 10px 40px 30px;
  font-size: 16px;
}

.article-next  {
  margin-top: 80px;
}

/* サイドコンテンツ */

.side-content {
  float: right;
  width: 33.333333%;
  max-width: 33.3333%;
}

.side-content-main {
  padding: 20px;
}

.side-content img {
  max-width: 100%;
}

.profile {
  margin-bottom: 60px;
}

.profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile img {
  width: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile h2, .ranking h2, .archive h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ranking {
  margin-bottom: 60px;
}

.ranking-content {
  margin-bottom: 30px;
}

.archive h2 {
  margin-bottom: 30px;
}

.archive ul {
  display: flex;
  flex-direction: column;
}

.archive ul li {
  font-size: 0.875em;
  padding: 20px;
  border-top: 1px solid #777;
}

.archive ul li:last-child {
  border-bottom: 1px solid #777;
}

/* フッター */

footer {
  width: 100%;
  min-width: fit-content;
  background-color: #f7f7f7;
}

.footer-area {
  width: 1168px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 16px;
  padding-bottom: 30px;
}

.footer-area-main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.about, .menu, .twitter {
  flex-grow: 1;
  width: 100%;
}

.about h2 {
  margin-bottom: 30px;
}

.about ul {
  padding-left: 0;
  margin: 20px 0px;
}

.about ul a {
  line-height: 1.6rem;
}

.about ul a::before {
  content: "▶︎ ";
}

.menu h2 {
  margin-bottom: 30px;
} 

.menu ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.menu ul li {
  font-size: 0.875em;
  padding: 15px;
  border-top: 1px solid #777;
}

.menu ul li:last-child {
  border-bottom: 1px solid #777;
}

.twitter h2 {
  margin-bottom: 27px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 30px;
}